<!DOCTYPE html>
<html>
      <head>
           <title>Marah Alhalabi BackEnd Task3</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
           <h2>{{>header}}</h2>
           
           <h2> hbs {{title}} page contents</h2>
           <h2>{{desc}}</h2>


            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero ducimus, molestias suscipit exercitationem ipsum perspiciatis ipsa reiciendis asperiores repudiandae cupiditate minima tenetur est, incidunt a repellendus saepe! Vero, iusto facilis?</p>
          <hr>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero ducimus, molestias suscipit exercitationem ipsum perspiciatis ipsa reiciendis asperiores repudiandae cupiditate minima tenetur est, incidunt a repellendus saepe! Vero, iusto facilis?</p>

 

           <div>{{>footer}}</div>
          
      </body>
</html>